.container {
  background-color: #0f0f0f;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  color: #fefefe;
  margin: 2rem;
  line-height: 150%;
}

.hero {
  max-width: 480px;
  object-fit: contain;
  width: auto;
  height: auto;
}

.infoContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box {
  background-color: #fefefe;
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 580px) {
  .hero {
    max-width: 80%;
  }

  .title {
    font-size: 1.5rem;
  }

  .infoContent {
    flex-direction: column;
  }

  .box {
    width: 80%;
    margin-bottom: 14px;
    text-align: center;
  }
}